<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Job Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="vm$|async; let vm">
  <ion-card *ngIf="vm.job; let job">
    <ion-card-header>
      <ion-card-title>{{job.jobDetails.title}}</ion-card-title>
      <ion-card-subtitle
        >{{job.jobDetails.date|date}}, {{job.jobDetails.hours}} Hours
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{job.jobDetails.description}} </ion-card-content>
  </ion-card>

  <form [formGroup]="form">
    <ion-list>
      <ion-list-header> Volunteer for this job </ion-list-header>

      <ion-item>
        <ion-label position="stacked">Boat</ion-label>
        <ion-select formControlName="boat" interface="popover">
          <ion-select-option *ngFor="let boat of vm.boats"
            >{{boat.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Volunteer Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item *ngIf="vm.volunteerMatchesUser">
        <ion-label position="stacked">Signed Up By</ion-label>
        <ion-input
          disabled
          value="  {{vm.userInfo.name}} ({{vm.userInfo.email}})"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!vm.submitted">
        <ion-button type="submit" [disabled]="form.invalid" (click)="submit()"
          >Sign Up</ion-button
        >
      </ion-item>
      <ion-item *ngIf="vm.submitted">
        <ion-label color="primary"> Thank you for signing up! </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
