<ng-container *ngIf="vm$|async; let vm">
	<ion-header>
		<ion-toolbar>
			<ion-title>Sign In to APSC Job Board</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content class="ion-padding">
		<ng-container
			*ngIf="vm.userInfo.email && !vm.userInfo.emailVerified;  else elseBlock"
		>
			<ion-card>
				<ion-card-header>
					<ion-card-title>Email Verification Required</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					An verification email has been sent to you. Please verify your email
					address by clicking on the link.</ion-card-content
				>

				<ion-toolbar>
					<ion-buttons slot="end">
						<ion-button fill="outline" color="primary" (click)="verified()">
							I've verified my email
						</ion-button>
						<ion-button
							fill="outline"
							color="primary"
							(click)="sendEmailVerification()"
						>
							Re-send Verification Email
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-card>
		</ng-container>

		<ng-template #elseBlock>
			<div class="ion-text-center">
				<h2>Welcome to Aquatic Park Sailing Club Member's Job Board Portal.</h2>

				<div class="ion-padding-vertical">Please Choose a sign-in method.</div>

				<div id="firebaseui-auth-container"></div>

				<div class="ion-padding-vertical">
					<h5>Don't have an APSC Job board account yet?</h5>
					No Problem! Just select one of the above options, and you will be
					prompted to create a new account.
				</div>
			</div>
		</ng-template>
	</ion-content>
</ng-container>
