<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content *ngIf="vm$ | async; let vm">
        <ion-list id="inbox-list">
          <ion-list-header>Aquatic Park Sailing Club</ion-list-header>
          <ion-note>
            <div>{{ vm.userInfo.name }}</div>
            <div>{{ vm.userInfo.email }}</div>
          </ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" button (click)="logout()">
              <ion-icon
                slot="start"
                ios="person-outline"
                md="person-sharp"
              ></ion-icon>
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ng-container *ngFor="let section of appPages">
            <ng-container
              *ngIf="section.title !== 'Admin' || vm.currentUser?.isAdmin"
            >
              <ion-list-header>
                <ion-label>{{ section.title }}</ion-label>
              </ion-list-header>
              <ion-menu-toggle
                auto-hide="false"
                *ngFor="let p of section.pages; let i = index"
              >
                <ion-item
                  routerDirection="root"
                  [routerLink]="[p.url]"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                >
                  <ion-icon
                    slot="start"
                    [ios]="p.icon + '-outline'"
                    [md]="p.icon + '-sharp'"
                  ></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
